# logs, reports and documents
*.html
*.xlsx
*.csv
*.xml
*.arff
*.txt
*.zip
*.test
*.data
AIML421_A3_2024.pdf
Logs/
Log/
logs/

# Python Environment
.venv/
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Images
*.jpg
*.DS_Store

# model output
cnn_model.pth
*.pth